*{
    padding: 0;
    margin: 0;
}
*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 14px;
    width: 100%;
    line-height: 1.5;
    color: #ffffff;
    background-color: #000000;
    height: 5000px;
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }
    .nav-item{
        max-width: 30%;
    }

}


::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }
.navbar-container {
    display: flex;
    border-radius: 12px;
    position: fixed;
    top: 25px;
    left: 1%;
    z-index: 10;
    width: 98%;
    height: 62px;
    backdrop-filter: blur(2px);
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.nav_logo {
    bottom: -34px;
    position: absolute;
    background-image: url(../media/logo-white-only.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 2%;
    width: 4%;
    height: 106px;
    transition: opacity 1.3s, transform 1.3s;
}
.nav_logo:hover{
    background-image: url(../media/logo-white.png);
    opacity: 0.7;
    transform: scale(1.1);
    transition: opacity 1.3s, transform 1.3s;
}



.navbar {
    left: 160px;
    top: 15px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav-item{

    list-style-type: none;
    padding: 5px 0;
    align-items: center;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.nav-item a{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    margin-right: 10px;
    transition: width 0.3s cubic-bezier(0.4, 0, 1, 1);
    
}

  .nav-item a:hover::before {
    width: 100%;
    left: 0;
  }
  .nav-item a:after {
    border-radius: 2px;
    content: '';
    display: flex;
    position: absolute;
    left: 6px;
    bottom: 5px;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
}
  .nav-item a:hover:after {
    background-position: -100% 0;
  }